/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: left;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation Menu */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Carousel */
.carousel {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Page Headings h1 {
    text-align: center;
    margin: 20px 0;
}*/


  p, h1, h2, ul {
            margin: 0 auto;
            text-align: left;
        }

/* Page Content */
p {
    padding: 0 20px;
    text-align: left;
}

main {
    padding: 20px;
}

ol {
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: 300;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
